data
out
checkpoints
logs
*demo*

promptsource
*/promptsource
*/*promptsource*

*.err
*.out
*.txt
*/*.err
*/*.out
*/*.txt

__pycache__
*/__pycache__
*/*/__pycache__

Makefile
*/Makefile

*tmp*
*/*tmp*
*track*
*/*track*

my*.sh
*.zip
*.pkl
*.jsonl
*.csv
